{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .sidebars {
        display: flex;
        flex-direction: column; 
        align-items: flex-end; 
        position: fixed; 
        bottom: 275px;
        left: 1150px;
      }
    
    .box {
        width: 150px;
        margin: 10px;
        padding: 10px;
        background-color: white;
        text-align: center;
        border: 5px groove #ccc;
        border-radius:1.0em;
        box-sizing: border-box;
        
    }
    .box:hover {
      background: linear-gradient(powderblue,green);
      box-shadow: 2px 2px 10px 10px blue;
      transition: box-shadow 0.3s ease; 
  }
</style>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-7 mb-3" width="150px" src="{{ user.profile.image.url }}">
                <span class="fs-3 fw-semibold">{{ user.username }}</span>
                <span class="fs-4">{{ user.email }}</span>
            </div>
        </div>
        <div class="col-md-6 border-right">
            <div class="p-3 py-5">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <div class="form-group">
                            <legend class="border-bottom mb-4">Profile Info</legend>
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-info mb-2">Update</button>
                    </div>
                </form>
            </div>
            <div class="sidebars">
                <a href="https://www.linkedin.com/in/sreedhar742" class="box"><h5>linkedin</h5></a>
                <a href="https://github.com/sreedhar742/Django_IT_Blogs" class="box"><h5>github</h5></a>
                <a href="https://pridhar742@gmail.com" class="box"><h5>email</h5></a>
            </div>
        </div>
    </div>
</div>
</div>

</div>
{% endblock content %}